.SingleCourse .top {
  background-color: var(--primary);
  height: auto;
  position: relative;
  padding: 10vw 2vw 2vw 2vw;
}

.SingleCourse .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(100%);
}

.SingleCourse .wave .container {
  width: 300%;
}

.SingleCourse .wave svg {
  position: relative;
  display: block;
  width: 300%;
  height: 200px;
  transform: rotateY(180deg);
}

.SingleCourse .wave .shape-fill {
  fill: #df0d0e;
}

.SingleCourse .top h1 {
  color: var(--white);
  font-size: 7vw;
}

.SingleCourse .top h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
}

.SingleCourse .top a {
  color: var(--white);
  width: 100%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 1vw;
  transform: translateX(50%);
}

.SingleCourse .top li,
.SingleCourse .top p {
  color: var(--white);
}

.SingleCourse .featured-image {
  position: relative;
  height: 35vh;
  width: 100%;
  object-fit: cover;
  top: 50%;
  z-index: 2;
}

.SingleCourse .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 7vh;
  padding: 5vw 5vw 40vh 5vw;
  position: relative;
  overflow: hidden;
}

.SingleCourse .curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  overflow: hidden;
  line-height: 0;
}

.SingleCourse .curve svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.SingleCourse .curve .shape-fill {
  fill: var(--white);
  filter: drop-shadow(0 1px 0 var(--primary));
}

.SingleCourse .price {
  width: 40vw;
  height: 40vw;
  border: 3vw solid #eee;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.SingleCourse .price p {
  margin: 0;
  font-size: 4vw;
}

.SingleCourse .price .value {
  color: var(--primary);
  font-size: 10vw;
}

.SingleCourse .price .info {
  color: var(--primary);
}

@media screen and (min-width: 1440px) {
  .SingleCourse {
    padding-top: 10vh;
  }

  .SingleCourse .top {
    height: 40vh;
    padding: 2vw;
  }

  .SingleCourse .top h1 {
    color: var(--white);
    width: 70%;
    font-size: 2vw;
  }

  .SingleCourse .top h2 {
    width: 70%;
    font-size: 1.3vw;
    font-weight: 100;
  }

  .SingleCourse .top a {
    width: auto;
    font-size: 2vw;
    right: 2vw;
    top: 2vw;
    transform: translateX(0);
  }

  .SingleCourse .featured-image {
    position: absolute;
    right: 2vw;
    transform: translateY(-50%);
    width: 30vw;
  }

  .SingleCourse .curve {
    bottom: 1vh;
  }

  .SingleCourse .price {
    width: 15vw;
    height: 15vw;
    border: 1vw solid #eee;
    left: auto;
    right: 2vw;
    bottom: 10vh;
  }

  .SingleCourse .price p {
    font-size: 1.5vw;
  }

  .SingleCourse .price .value {
    font-size: 3vw;
  }

  .SingleCourse .price .info {
    font-size: 1vw;
  }
}
