.About .text {
  background-color: var(--primary);
  padding: 5vw;
  margin: 0;
}

.About .TopWaves {
  transform: rotate(180deg) translateY(0);
  width: 100%;
  position: relative;
  margin-top: 10vh;
}

.About .BottomWaves {
  width: 100%;
}

.About .text p {
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .About {
    padding: 10vh 0 2vw 0;
  }
}
