.Course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.Course img {
  height: 100%;
  width: 95%;
  object-fit: cover;
}

.Course .name {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  color: var(--white);
  background-color: var(--dark);
  padding: 3vh 5vh 3vh 5vh;
  margin: 0;
  line-height: 1;
}
