.Circle {
  height: 5vh;
}
.Circle text {
  text-align: center;
  color: var(--white);
  fill: var(--white);
  font-size: 10px;
}
.Circle path.percent {
  stroke: var(--white);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.Circle path.around {
  stroke: var(--primary);
  fill: none;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
