.Circle {
  height: 50vw;
}

.Circle text {
  text-align: center;
  color: var(--white);
  fill: var(--white);
  font-size: 10px;
}

.Circle path.percent {
  stroke: var(--white);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.Circle.active path.percent {
  animation: progress 1s ease-out forwards;
}
.Circle path.around {
  stroke: var(--primary);
  fill: none;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media screen and (min-width: 1440px) {
  .Circle {
    height: 7vw;
  }
}
