.Curve .shape-fill {
  fill: #ffffff;
  filter: drop-shadow(0 0 0.5px var(--primary));
}

.Curve {
  position: absolute;
  top: -70vh;
  left: 0;
  width: 500%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.Curve svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 200vh;
  transform: rotateY(180deg);
}
