.Legal .text {
  background-color: var(--primary);
  padding: 7vw;
  margin: 0;
}

.Legal h1 {
  padding-left: 2vw;
}

.Legal .text p {
  font-size: 5vw;
}

.Legal .TopWaves {
  transform: rotate(180deg) translateY(0);
  width: 100%;
  position: relative;
  margin-top: 10vh;
}

.Legal .BottomWaves {
  margin-bottom: 10vh;
  width: 100%;
}

.Legal .text p {
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .Legal {
    padding: 10vh 0 2vw 0;
  }

  .Legal .text p {
    font-size: 1vw;
  }
}
