.Instructor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Instructor h3 {
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .Instructor {
    flex-direction: row;
  }

  .Instructor h3 {
    text-align: left;
  }
}
