.Security {
  position: relative;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Security h1 {
  color: var(--dark);
  font-size: 7vw;
  line-height: 0.5;
  text-align: center;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-bottom: 5vh;
}

.Security h1 span {
  color: var(--primary);
  font-size: 9vw;
  line-height: 0.8;
}

.Security h1::before {
  content: "\201C";
  position: absolute;
  font-family: arial;
  color: var(--white);
  font-size: 30vw;
  filter: drop-shadow(0 0 1px var(--dark));
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(100%, 20%);
}

.Security h1::after {
  content: "\201D";
  position: absolute;
  font-family: arial;
  color: var(--white);
  font-size: 30vw;
  filter: drop-shadow(0 0 1px var(--dark));
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(-25%, 133%);
}

.Security .top {
  position: relative;
  display: flex;
  padding: 5vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  width: 100%;
}

.Security .top p {
  font-size: 3.5vh;
  text-align: center;
  margin-bottom: 5vh;
}

.Security .work {
  position: relative;
  width: 35vw;
  object-fit: contain;
}

.Security .bottom {
  padding: 5vw 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--dark);
  width: 100%;
  color: var(--white);
}

.Security .bottom h2 {
  color: var(--white);
  font-weight: 300;
  font-style: italic;
  letter-spacing: -3px;
  width: 100%;
  text-align: center;
  font-size: 9vw;
}

.Security .bottom ul li {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 9vw;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 5vh;
  font-weight: 100;
  font-style: italic;
  width: 100%;
}

.Security .bottom ul li svg {
  font-size: 10vw;
  margin-right: 0;
}

.title {
  position: relative;
  width: 100%;
  margin-bottom: 5vh;
}

.Security .zap {
  display: none;
}

@media screen and (min-width: 1440px) {
  .Security .work {
    position: absolute;
    z-index: 3;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
  }

  .Security .top {
    align-items: flex-start;
  }

  .Security .top p {
    text-align: left;
  }

  .Security .bottom {
    position: relative;
  }

  .Security .bottom ul li {
    flex-direction: row;
    line-height: 6vh;
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  .Security .bottom ul li svg {
    font-size: 3vw;
    margin-right: 1vw;
  }

  .Security .bottom h2 {
    font-size: 4.5vw;
  }

  .Security h1 {
    font-size: 4vw;
    margin-bottom: 5vh;
    text-align: left;
    width: auto;
  }

  .Security h1 span {
    font-size: 5vw;
    line-height: 0.8;
  }

  .Security h1::before {
    font-size: 10vw;
    transform: translate(-50%, 12%);
  }

  .Security h1::after {
    font-size: 10vw;
  }

  .title {
    width: auto;
    margin-bottom: 10vh;
  }

  .Security .zap {
    position: absolute;
    bottom: -1vh;
    right: -12%;
  }

  .Security .top p {
    width: 40%;
    margin-bottom: 5vh;
  }
}
