.Security {
  position: relative;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Security h1 {
  color: var(--dark);
  font-size: 9vw;
  line-height: 0.5;
  text-align: left;
  z-index: 2;
  position: relative;
}

.Security h1 span {
  color: var(--primary);
  font-size: 7vw;
  line-height: 0.8;
}

.Security h1::before {
  content: "\201C";
  position: absolute;
  font-family: arial;
  color: var(--white);
  font-size: 30vw;
  filter: drop-shadow(0 0 1px var(--dark));
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-50%, -20%);
}

.Security h1::after {
  content: "\201D";
  position: absolute;
  font-family: arial;
  color: var(--white);
  font-size: 30vw;
  filter: drop-shadow(0 0 1px var(--dark));
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(100%, 95%);
}

.Security .top {
  position: relative;
  display: flex;
  padding: 5vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--white);
  width: 100%;
}

.Security .top p {
  font-size: 3vh;
}

.Security .work {
  position: relative;
  height: 45vh;
}

.Security .bottom {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--dark);
  width: 100%;
  color: var(--white);
}

.Security .bottom h2 {
  color: var(--white);
  font-weight: 300;
  font-style: italic;
  letter-spacing: -3px;
  width: 100%;
  text-align: center;
  font-size: 4vh;
}

.Security .bottom ul li {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 3vh;
  font-size: 2vh;
  text-align: center;
  margin-bottom: 2vh;
}

.Security .bottom ul li svg {
  font-size: 3vh;
  margin-right: 1vw;
}

.title {
  position: relative;
  width: 100%;
  margin-bottom: 3vh;
}

.Security .zap {
  position: absolute;
  bottom: -1vh;
  right: -15%;
}

@media screen and (min-width: 1440px) {
  .Security .work {
    position: absolute;
    z-index: 3;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
  }

  .Security .bottom {
    position: relative;
  }

  .Security .bottom ul li {
    flex-direction: row;
  }

  .Security h1 {
    font-size: 6vw;
    margin-bottom: 5vh;
  }

  .Security h1 span {
    font-size: 4vw;
    line-height: 0.8;
  }

  .Security h1::before {
    font-size: 10vw;
    transform: translate(-50%, 12%);
  }

  .Security h1::after {
    font-size: 10vw;
  }

  .title {
    width: auto;
  }

  .Security .zap {
    position: absolute;
    bottom: -1vh;
    right: -23%;
  }

  .Security .top p {
    width: 40%;
  }
}
