.PopUp {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  top: 100vh;
  transform: translate(-50%, -110%);
  left: 50vw;
  width: 80vw;
  background-color: var(--white);
  z-index: 4;
  transition: all 1s;
}

.PopUp.hidden {
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all 1s;
}

.PopUp .wrapper {
  position: relative;
}

.PopUp .wrapper .show {
  top: 0;
  left: 50%;
  background-color: #eee;
  width: 20vw;
  height: 5vh;
  padding: 0.5vw;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
  color: var(--dark);
  cursor: pointer;
  position: absolute;
}

.PopUp .wrapper .show.hidden {
  transform: translate(-50%, 100%);
  transition: all 1s;
}

.PopUp .wrapper .show.active {
  transform: translate(-50%, -100%);
  transition: all 1s;
}

.PopUp .container {
  padding: 1vw 2vw;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 2;
}

.PopUp h3 {
  color: var(--primary);
  font-size: 5vh;
  margin-left: 2vw;
}

.PopUp form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw 3vh 2vw;
}

.PopUp input {
  margin-bottom: 0 !important;
}

.PopUp .close-btn {
  background-color: #eee;
  position: absolute;
  right: 2vw;
  top: 2vw;
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border-radius: 50%;
  cursor: pointer;
}

.PopUp button {
  font-size: 3vh;
}

/* input Vide -> label */
.PopUp input[value=""]:not(:focus) + span,
.PopUp input[value=""]:focus + span {
  color: var(--dark);
}

/* input Vide */
.PopUp input[value=""]:not(:focus),
.PopUp input[value=""]:focus {
  color: var(--dark);
  border: 1px solid var(--dark);
}

/* Input rempli et valide */
.PopUp input:not([value=""]):not(:focus),
.PopUp input:not([value=""]):focus,
.PopUp input:focus,
.PopUp input {
  color: var(--dark);
  border: 1px solid var(--dark);
}

/* Input rempli et valide -> label */
.PopUp input:not([value=""]):not(:focus) + span,
.PopUp input:not([value=""]):focus + span,
.PopUp input:focus + span,
.PopUp input + span {
  color: var(--dark);
}

/* Input rempli invalide */
.PopUp input:not([value=""]):not(:focus):invalid,
.PopUp input:not([value=""]):focus:invalid,
.PopUp input:focus:invalid,
.PopUp input:invalid {
  color: var(--primary);
  border: 1px solid var(--primary);
}
/* Input rempli invalide -> label */
.PopUp input:not([value=""]):not(:focus):invalid + span,
.PopUp input:not([value=""]):focus:invalid + span,
.PopUp input:focus:invalid + span,
.PopUp input:invalid + span {
  color: var(--primary);
}

@media screen and (min-width: 1440px) {
  .PopUp {
    width: 40vw;
    transform: translate(-50%, -100%);
  }

  .PopUp.hidden {
    transform: translate(-50%, 10%);
  }

  .PopUp .close-btn {
    right: 0.5vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 1.5vh;
  }

  .PopUp h3 {
    color: var(--primary);
    font-size: 2rem;
    margin-left: 0;
  }

  .PopUp button {
    font-size: 1.5vh;
  }

  .PopUp .wrapper .show {
    width: 4vw;
    height: 3vw;
  }
}
