.PopUp {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  top: 100vh;
  transform: translate(-50%, -100%);
  left: 50vw;
  width: 80vw;
  background-color: var(--white);
  z-index: 4;
  transition: all 1s;
}

.PopUp.hidden {
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all 1s;
}

.PopUp .wrapper {
  position: relative;
}

.PopUp .wrapper .show {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(238, 238, 238, 0.5);
  width: 13vh;
  height: 15vh;
  padding: 3vh;
  z-index: 4;
  color: var(--dark);
  cursor: pointer;
  z-index: 1;
}

.PopUp .wrapper .show.hidden {
  transform: translate(0, -50%);
  transition: all 1s;
}

.PopUp .wrapper .show.active {
  transform: translate(-100%, -50%);
  transition: all 1s;
}

.PopUp .container {
  padding: 1vw 2vw;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 2;
}

.PopUp h3 {
  color: var(--primary);
  font-size: 5vh;
  margin-left: 2vw;
}

.PopUp form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vw 3vh 2vw;
}

.PopUp input {
  margin-bottom: 0 !important;
}

.PopUp .close-btn {
  background-color: #eee;
  position: absolute;
  right: 2vw;
  top: 2vw;
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border-radius: 50%;
  cursor: pointer;
}

.PopUp button {
  font-size: 3vh;
}

@media screen and (min-width: 1440px) {
  .PopUp {
    width: 40vw;
  }

  .PopUp .close-btn {
    right: 0.5vw;
    top: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 1.5vh;
  }

  .PopUp h3 {
    color: var(--primary);
    font-size: 2rem;
    margin-left: 0;
  }

  .PopUp button {
    font-size: 1.5vh;
  }

  .PopUp .wrapper .show {
    top: 0;
    left: 50%;
    background-color: #eee;
    width: 4vw;
    height: 3vw;
    padding: 0.5vw;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50%;
    z-index: 4;
    color: var(--dark);
    cursor: pointer;
    z-index: 1;
  }

  .PopUp .wrapper .show.hidden {
    transform: translate(0, 100%);
    transition: all 1s;
  }

  .PopUp .wrapper .show.active {
    transform: translate(0, -100%);
    transition: all 1s;
  }
}
