.Contact {
  width: 100%;
  height: 100%;
  position: relative;
}

.Contact .container {
  width: 100%;
  min-height: 75vh;
  position: relative;
  margin: auto;
}

.Contact .form {
  background-color: var(--dark);
  position: relative;
  padding: 2vw;
}

.Contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact form h3 {
  color: var(--primary);
  text-align: left;
  width: 100%;
  margin-bottom: 2vh;
}

.Contact .infos {
  position: relative;
  padding: 5vw 10vw 5vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
}

.Contact .infos p,
.Contact .infos h2,
.Contact .infos svg,
.Contact .infos svg path {
  color: var(--white);
  stroke: var(--white) !important;
}

.Contact .infos p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Contact .infos svg {
  margin-right: 2vw;
  font-size: 4vh;
}

.Contact .input-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Contact .input-flex-container .input-container {
  width: 47%;
}

.Contact .input-flex-container .input-container input {
  margin-bottom: 0;
}

/* input Vide -> label */
.Contact input[value=""]:not(:focus) + span,
.Contact input[value=""]:focus + span {
  color: var(--white);
}

/* input Vide */
.Contact input[value=""]:not(:focus),
.Contact input[value=""]:focus {
  color: var(--white);
  border: 1px solid var(--white);
}

/* Input rempli et valide */
.Contact input:not([value=""]):not(:focus),
.Contact input:not([value=""]):focus,
.Contact input:focus,
.Contact input {
  color: var(--white);
  border: 1px solid var(--white);
}

/* Input rempli et valide -> label */
.Contact input:not([value=""]):not(:focus) + span,
.Contact input:not([value=""]):focus + span,
.Contact input:focus + span,
.Contact input + span {
  color: var(--white);
}

/* Input rempli invalide */
.Contact input:not([value=""]):not(:focus):invalid,
.Contact input:not([value=""]):focus:invalid,
.Contact input:focus:invalid,
.Contact input:invalid {
  color: var(--primary);
  border: 1px solid var(--primary);
}
/* Input rempli invalide -> label */
.Contact input:not([value=""]):not(:focus):invalid + span,
.Contact input:not([value=""]):focus:invalid + span,
.Contact input:focus:invalid + span,
.Contact input:invalid + span {
  color: var(--primary);
}

.Contact select {
  background-color: #eee;
  width: 100%;
  border: none;
  height: 8vh;
  padding: 1vh;
  font-size: 2vw;
  color: var(--dark);
}

.Contact textarea {
  margin-top: 2vh;
  padding: 1vh;
  border: 1px solid var(--white);
  color: var(--white);
}

.Contact button {
  margin-top: 2vh;
}

.Contact .errors {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  color: var(--white);
  z-index: 10;
}

@media screen and (min-width: 1440px) {
  .Contact {
    padding: 10vh 2vw 2vw 2vw;
  }

  .Contact .container {
    max-width: 2000px;
  }
  .Contact .form {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2vw 2vw 2vw 15vw;
  }

  .Contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Contact .infos {
    position: absolute;
    width: 35%;
    height: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
