.Navbar {
  width: 100%;
  font-family: var(--titleFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--white);
  z-index: 7;
  height: 10vh;
  bottom: 0;
  padding: 2vh;
}

.Navbar .certification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar .certification img {
  height: 7vh;
  margin-right: 2vw;
}

.Navbar ul li {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar ul li a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 5vh;
}

.Navbar ul li a::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  width: 0;
  z-index: 14;
  transition: all 1s;
}

.Navbar ul li a:hover::after {
  width: 100%;
  transition: all 1s;
}

.Navbar .logo {
  height: 7vh;
  width: 100%;
  object-fit: contain;
}

.Navbar .phone {
  padding: 1vh 2vh;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 80px 80px 80px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1440px) {
  .Navbar {
    bottom: auto;
  }

  .Navbar ul li {
    width: 10vw;
  }

  .Navbar ul li a {
    font-size: 2vh;
  }

  .Navbar .phone svg {
    margin-right: 0.5vw;
  }
}
