.Latest {
  min-height: 90vh;
  position: relative;
  padding: 2vw 0 2vw 2vw;
}

.Latest .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Latest .container > :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15vw;
}

.Latest .container :nth-child(1) li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Latest .container :nth-child(1) li svg {
  margin-right: 1vw;
}

.Latest img {
  height: 45vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: 5vh solid var(--primary);
}

.Latest ul li {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Latest ul button {
  margin-top: 5vh;
}

@media screen and (min-width: 1440px) {
  .Latest ul li {
    font-size: 1vw;
  }
}
