.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.Footer .top {
  background-color: var(--dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
  color: var(--white);
}

.Footer .top .certification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .top .certification img {
  height: 10vh;
}

.top .siret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Footer .top .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Footer .top .infos .socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .top svg {
  fill: var(--white);
}

.Footer .bottom {
  width: 100%;
  padding: 2vh;
  background-color: black;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .Footer {
    padding-bottom: 0;
  }

  .Footer .top {
    flex-direction: row;
  }
}
