.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.Footer .top {
  background-color: var(--dark);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5vh;
  color: var(--white);
}

.Footer .top .certification,
.Footer .top .siret {
  border-right: 2px solid var(--white);
  text-align: center;
}

.Footer .top .certification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .top .certification img {
  height: 10vh;
}

.top .siret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer .top .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer .top .infos svg {
  margin-right: 0.5vw;
}

.Footer .top .infos .socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .top .infos .socials ul svg {
  font-size: 3vh;
}

.Footer .top .infos .schedule,
.Footer .top .infos .phone,
.Footer .top .infos .mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .top svg {
  fill: var(--white);
}

.Footer .bottom {
  width: 100%;
  padding: 2vh;
  background-color: black;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .bottom span {
  margin-right: 2vw;
}

@media screen and (min-width: 1440px) {
  .Footer {
    padding-bottom: 0;
  }

  .Footer .top {
    flex-direction: row;
  }
}
