.Companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 5vh;
  position: relative;
}

.Companies h3 {
  color: var(--white);
}

.Companies ul {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Companies ul li {
  color: var(--white);
}
