.TopWaves {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(100%);
  z-index: 2;
  pointer-events: none;
}

.TopWaves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 63px;
  transform: rotateY(180deg);
}
