@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*
1. Variables
2. RESET
3. Blocks
4. Inline
5. ID
6. Classes
*/

/* Variables */

:root {
  --white: #fffff9;
  --dark: #3a3a3a;
  --primary: #df0d0e;
  --grey: #eee;
  --success: #42db8c;
  --error: #ff614d;
  --info: #6ba7ca;
  --font: "Roboto", sans-serif;
  --titleFont: "Fira Sans Condensed", sans-serif;
}

/* 2 RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font);
  background-color: var(--white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/* 3 Block */

section {
  min-height: 100vh;
  width: 100%;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="phone"] {
  padding-left: 1vh;
  background: none;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 2vh;
  font-size: 3vh;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

textarea {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  background: none;
}

/* 4 inline */

table {
  color: var(--primary);
  font-size: 2vh;
  border-collapse: collapse;
  border-radius: 5px;
  font-weight: normal;
  border: none;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  margin-bottom: 3vh;
}

td,
th,
thead,
table {
  padding: 8px;
}

th {
  background-color: var(--primary);
  color: var(--white);
}

td {
  text-align: center;
}
td:not(:last-child) {
  border-right: 1px solid rgba(66, 219, 140, 0.2);
}

tr:nth-child(even) td {
  background-color: rgba(66, 219, 140, 0.2);
  color: var(--body);
}

a {
  color: var(--primary);
  position: relative;
}

p {
  font-size: 1rem;
  font-family: var(--font);
  color: var(--dark);
}

h1 {
  color: var(--primary);
  font-size: 12vw;
  font-family: var(--titleFont);
  display: block;
  text-align: center;
  line-height: 1.1;
  font-weight: 300;
}

h2 {
  color: var(--dark);
  font-family: var(--titleFont);
  font-size: 7vw;
  display: block;
  text-align: left;
}

h3 {
  color: var(--dark);
  font-family: var(--titleFont);
  font-size: 5vw;
  display: block;
  text-align: left;
}

li {
  color: var(--dark);
}

button {
  border: 0;
  border-radius: 0.25rem;
  background: var(--primary);
  color: white;
  font-family: var(--titleFont);
  font-size: 10vw;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5vh 2vw;
  cursor: pointer;
}

/* 5 ID */
/* 6 Classes */

.App {
  width: 100%;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alternate {
  background-color: var(--secondary);
}

.delete {
  background-color: var(--error);
  color: var(--white);
  font-size: 4vh;
  padding: 1vh;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.error {
  background-color: var(--error);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
  margin: 2.5vh 0 2.5vh 0;
  width: 100%;
}

.input-container span {
  pointer-events: none;
  position: absolute;
  left: 0.5vw;
  font-size: 4vh;
  top: 0;
  transform: translateY(-1.5vh);
  line-height: 2;
  color: var(--dark);
  opacity: 0.5;
  transition: all 0.5s;
}

.input-container input {
  font-size: 4vh;
  height: 5vh;
  border: 1px solid var(--dark);
  width: 100%;
}

.input-container input:focus ~ span,
.input-container input:valid ~ span {
  left: 0;
  font-size: 3vh;
  top: 0;
  transform: translateY(-5.5vh);
  transition: all 0.5s;
}

.input-container input:focus ~ span::after,
.input-container input:valid ~ span::after,
.input-container input:invalid ~ span::after {
  content: " *";
  color: var(--primary);
  font-size: 2vh;
  line-height: 0.5;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(150%);
}

.flash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 10vh;
  color: var(--white);
  font-family: var(--titleFont);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 10;
}

.mobile {
  display: flex !important;
}

.not-mobile {
  display: none !important;
}

.success {
  background-color: var(--success);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary);
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 6rem;
    text-align: left;
  }

  h2 {
    font-size: 4rem;
    text-align: left;
  }

  h3 {
    font-size: 2rem;
    text-align: left;
  }

  button {
    font-size: 2vw;
  }

  .mobile {
    display: none !important;
  }

  .not-mobile {
    display: flex !important;
  }

  .input-container {
    margin: 0.8vw 0 0.8vw 0;
  }

  .input-container span {
    font-size: 1vw;
    transform: translateY(-12%);
  }

  .input-container input {
    font-size: 1vw;
    height: auto;
  }

  .input-container input:focus ~ span,
  .input-container input:valid ~ span,
  .input-container input:invalid:not([value=""]) ~ span {
    font-size: 0.7vw;
    transform: translateY(-1.4vw);
    left: 0;
  }
}
