.ShowCase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
  padding: 5vh;
  position: relative;
  z-index: 5;
  margin-top: 5vh;
  min-height: 80vh;
}

.ShowCase h3 {
  color: var(--white);
}

.ShowCase .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.ShowCase .container .companies,
.ShowCase .container .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 40vh;
}

.ShowCase .container .companies li,
.ShowCase .container .reviews li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShowCase .container .companies .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ShowCase .container .reviews p,
.ShowCase .container .reviews span {
  text-align: center;
  color: var(--white);
  margin: 0;
  width: 100%;
}

.ShowCase .container .reviews .name {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(18, 15, 7);
}

.ShowCase .container .reviews .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 208, 54);
}

.ShowCase ul {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ShowCase ul li {
  color: var(--white);
}

.ShowCase + .BottomWaves {
  margin-bottom: 5vh;
}

@media screen and (min-width: 1440px) {
  .ShowCase {
    min-height: auto;
  }

  .ShowCase .container {
    flex-direction: row;
  }

  .ShowCase .container .companies .logo {
    width: 7vw;
    object-fit: contain;
  }
}
