.ShowCase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 5vh;
  position: relative;
  z-index: 5;
}

.ShowCase h3 {
  color: var(--white);
}

.ShowCase .container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.ShowCase .container .companies,
.ShowCase .container .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.ShowCase .container .companies li,
.ShowCase .container .reviews li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShowCase .container .companies .logo {
  width: 7vw;
  object-fit: contain;
}

.ShowCase .container .reviews p,
.ShowCase .container .reviews span {
  text-align: center;
  color: var(--white);
  margin: 0;
  width: 100%;
}

.ShowCase .container .reviews .name {
  text-transform: uppercase;
  font-weight: bold;
}

.ShowCase .container .reviews .stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShowCase ul {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ShowCase ul li {
  color: var(--white);
}

/* @media screen and (min-width: 1440px) {
  .ShowCase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 5vh;
    position: relative;
    z-index: 5;
  }

  .ShowCase h3 {
    color: var(--white);
  }

  .ShowCase .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .ShowCase .container .companies,
  .ShowCase .container .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  .ShowCase .container .companies li,
  .ShowCase .container .reviews li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ShowCase .container .companies .logo {
    width: 7vw;
    object-fit: contain;
  }

  .ShowCase .container .reviews p,
  .ShowCase .container .reviews span {
    text-align: center;
    color: var(--white);
    margin: 0;
    width: 100%;
  }

  .ShowCase .container .reviews .name {
    text-transform: uppercase;
    font-weight: bold;
  }

  .ShowCase .container .reviews .stars {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ShowCase ul {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ShowCase ul li {
    color: var(--white);
  }
} */
